[Unit]
Description=RYPT Wagtail
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/rypt
EnvironmentFile=/etc/rypt.env
Environment=DJANGO_SETTINGS_MODULE=rypt.settings.production
ExecStart=/var/www/rypt-venv/bin/gunicorn rypt.wsgi:application --bind 127.0.0.1:8000 --workers 2 --timeout 60
Restart=on-failure

[Install]
WantedBy=multi-user.target
